/* Reseteo de margenes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondos para las secciones. */
footer, header, body {
  background-color: #f3e394;
}

main {
  background-color: #f9f2cc;
}

/* Estilos en las listas y texto. ( MediaQueries 365px-2140px ) */
@media screen and (min-width: 315px) and (max-width: 559px) {
  .logo__empresa {
    max-width: 100px;
  }
  ul, li {
    list-style: none;
    font-family: Kanit;
  }
  a {
    text-decoration: none;
  }
  /* Header */
  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    color: #fdfbed;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Nova square;
    font-size: 1rem;
  }
  header a {
    color: #f9f2cc;
    border-radius: 10px;
    font-size: 10px;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    color: #f9f2cc;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 1px;
    padding-left: 10px;
  }
  /* Inicio */
  .combos__section {
    display: grid;
    grid-gap: 20px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 26px;
  }
  .combo__semanal {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }
  .img__combos {
    max-width: 210px;
    max-height: 320px;
    border-radius: 25px;
  }
  .text__combos {
    max-width: 70%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    font-size: 12px;
  }
  /* Nosotros */
  .section__title {
    color: #a45a19;
    padding: 1rem;
    font-family: mukta;
  }
  .section__text {
    color: #a45a19;
    max-width: 100%;
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    font-family: nunito;
  }
  .section__iframe {
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 5rem;
    width: 100%;
  }
  /* Elegirnos */
  .contenedor__elegirnos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .elegirnos__iconos {
    min-width: 50px;
    margin-bottom: 10px;
  }
  .div__elegirnos {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .elegirnos__text {
    max-width: 300px;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    font-size: 0.9em;
  }
  /* Felinos */
  .contenedor__felinos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .article__felinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    overflow: hidden;
    padding: 2rem;
  }
  .img__felinos {
    max-width: 100%;
    padding: 1rem;
  }
  .texto__felinos {
    color: #ebcd54;
    max-width: 400px;
    padding: 1rem;
    font-family: nunito;
    text-align: left;
    background-color: #8d631b;
    border-radius: 15px;
  }
  /* Productos */
  .contenedor__productos {
    display: grid;
    grid-gap: 20px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 26px;
  }
  .titulo__seccion {
    text-align: center;
  }
  .div__productos {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }
  .images__productos {
    max-width: 210px;
    max-height: 320px;
    border-radius: 25px;
  }
  .text__productos {
    max-width: 70%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    font-size: 12px;
  }
  /* Footer */
  footer {
    padding: 1rem;
  }
  .contenedor__footer {
    width: 90%;
    margin: 0 auto;
    background-color: #f9f2cc;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }
  footer .logo__empresa {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    order: 1;
  }
  .contenido__footer {
    text-align: center;
    margin-bottom: 20px;
    order: 2;
  }
  footer p {
    color: gray;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    font-size: 0.7rem;
  }
  footer h3 {
    font-family: Jost;
    color: #a45a19;
    font-size: 1rem;
    padding-bottom: 10px;
    order: 3;
  }
  .logos__redes {
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .logos__redes:hover {
    transform: scale(1.3);
    transition: 0.5s;
    transition-duration: 0.5s;
    order: 4;
  }
}
@media screen and (min-width: 560px) and (max-width: 614px) {
  .logo__empresa {
    max-width: 100px;
  }
  ul, li {
    list-style: none;
    font-family: Kanit;
  }
  a {
    text-decoration: none;
  }
  /* Header */
  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    color: #fdfbed;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Nova square;
    font-size: 1rem;
  }
  header a {
    color: #f9f2cc;
    border-radius: 10px;
    font-size: 0.8em;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    color: #f9f2cc;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 1em;
  }
  /* Inicio */
  .combos__section {
    display: grid;
    grid-gap: 20px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 26px;
  }
  .combo__semanal {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }
  .img__combos {
    max-width: 310px;
    max-height: 320px;
    border-radius: 25px;
  }
  .text__combos {
    max-width: 50%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .text__combos:hover {
    max-width: 50%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transform: scale(1.01);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Nosotros */
  .section__title {
    color: #a45a19;
    padding: 1rem;
    font-family: mukta;
  }
  .section__text {
    color: #a45a19;
    max-width: 100%;
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    font-family: nunito;
  }
  .section__iframe {
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 5rem;
    width: 100%;
  }
  /* Elegirnos */
  .contenedor__elegirnos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .elegirnos__iconos {
    min-width: 50px;
    margin-bottom: 10px;
  }
  .div__elegirnos {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .elegirnos__text {
    max-width: 300px;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    font-size: 0.9em;
  }
  .elegirnos__text:hover {
    max-width: 300px;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    font-size: 0.9em;
    transform: scale(1.01);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Felinos */
  .contenedor__felinos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .article__felinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    overflow: hidden;
    padding: 2rem;
  }
  .img__felinos {
    max-width: 100%;
    padding: 1rem;
  }
  .texto__felinos {
    color: #3f1e09;
    max-width: 400px;
    padding: 1rem;
    font-family: nunito;
    text-align: left;
    background-color: #ebcd54;
    border-radius: 15px;
  }
  .texto__felinos:hover {
    color: #f3e394;
    max-width: 400px;
    padding: 1rem;
    font-family: nunito;
    text-align: left;
    background-color: #3f1e09;
    border-radius: 15px;
    transform: scale(1.01);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Productos */
  .contenedor__productos {
    display: grid;
    grid-gap: 20px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 26px;
  }
  .titulo__seccion {
    text-align: center;
  }
  .div__productos {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }
  .images__productos {
    max-width: 310px;
    max-height: 320px;
    border-radius: 25px;
  }
  .text__productos {
    max-width: 50%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .text__productos:hover {
    max-width: 50%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transform: scale(1.01);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Footer */
  footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 280px;
  }
  .contenedor__footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f2cc;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 25px;
  }
  .contenido__contacto {
    text-align: left;
  }
  footer p {
    color: gray;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    font-size: 0.5rem;
  }
  footer h3 {
    max-width: 200px;
    margin: 0 auto;
    font-family: Jost;
    color: #a45a19;
    font-size: 0.7rem;
    padding-bottom: 10px;
  }
  .logos__redes {
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .logos__redes:hover {
    transform: scale(1.3);
    transition: 0.5s;
    transition-duration: 0.5s;
  }
}
@media screen and (min-width: 615px) and (max-width: 768px) {
  .logo__empresa {
    max-width: 150px;
  }
  ul, li {
    list-style: none;
    font-family: Kanit;
  }
  a {
    text-decoration: none;
  }
  /* Header */
  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    color: #fdfbed;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Nova square;
    font-size: 1rem;
  }
  header a {
    color: #f9f2cc;
    border-radius: 10px;
    font-size: 0.8em;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    color: #f9f2cc;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 1em;
  }
  /* Inicio */
  .combos__section {
    display: grid;
    grid-gap: 20px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 26px;
  }
  .combo__semanal {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }
  .img__combos {
    max-width: 310px;
    max-height: 320px;
    border-radius: 25px;
  }
  .text__combos {
    max-width: 50%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .text__combos:hover {
    max-width: 50%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transform: scale(1.01);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Nosotros */
  .section__title {
    color: #a45a19;
    padding: 1rem;
    font-family: mukta;
  }
  .section__text {
    color: #a45a19;
    max-width: 100%;
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    font-family: nunito;
  }
  .section__iframe {
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 5rem;
    width: 100%;
  }
  /* Elegirnos */
  .contenedor__elegirnos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .elegirnos__iconos {
    min-width: 50px;
    margin-bottom: 10px;
  }
  .div__elegirnos {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .elegirnos__text {
    max-width: 300px;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    font-size: 0.9em;
  }
  .elegirnos__text:hover {
    max-width: 300px;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    font-size: 0.9em;
    transform: scale(1.01);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Felinos */
  .contenedor__felinos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .article__felinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    overflow: hidden;
    padding: 2rem;
  }
  .img__felinos {
    max-width: 100%;
    padding: 1rem;
  }
  .texto__felinos {
    color: #3f1e09;
    max-width: 400px;
    padding: 1rem;
    font-family: nunito;
    text-align: left;
    background-color: #ebcd54;
    border-radius: 15px;
  }
  .texto__felinos:hover {
    color: #f3e394;
    max-width: 400px;
    padding: 1rem;
    font-family: nunito;
    text-align: left;
    background-color: #3f1e09;
    border-radius: 15px;
    transform: scale(1.01);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Productos */
  .contenedor__productos {
    display: grid;
    grid-gap: 20px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 26px;
  }
  .titulo__seccion {
    text-align: center;
  }
  .div__productos {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }
  .images__productos {
    max-width: 310px;
    max-height: 320px;
    border-radius: 25px;
  }
  .text__productos {
    max-width: 50%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .text__productos:hover {
    max-width: 50%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transform: scale(1.01);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Footer */
  footer {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    max-height: 280px;
  }
  .contenedor__footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f2cc;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
    padding: 25px;
  }
  .contenido__contacto {
    text-align: left;
  }
  footer p {
    color: gray;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    font-size: 0.7rem;
  }
  footer h3 {
    max-width: 200px;
    margin: 0 auto;
    font-family: Jost;
    color: #a45a19;
    font-size: 1rem;
    padding-bottom: 10px;
  }
  .logos__redes {
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .logos__redes:hover {
    transform: scale(1.3);
    transition: 0.5s;
    transition-duration: 0.5s;
  }
}
@media screen and (min-width: 769px) and (max-width: 1230px) {
  .logo__empresa {
    max-width: 170px;
  }
  ul, li {
    list-style: none;
    font-family: Kanit;
  }
  a {
    text-decoration: none;
  }
  /* Header */
  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    color: #fdfbed;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Nova square;
    font-size: 1.5rem;
  }
  header a {
    color: #f9f2cc;
    border-radius: 10px;
    font-size: 1em;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    color: #f9f2cc;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 1em;
  }
  /* Inicio */
  .combos__section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    margin: 0;
    padding: 1rem;
  }
  .combo__semanal {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    background-color: #ebcd54;
    border-radius: 10px;
  }
  .combo__semanal:hover {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    background-color: #ebcd54;
    border-radius: 10px;
    transform: scale(1.02);
    transition: 0.5s;
    transition-duration: 0.5s;
  }
  .img__combos {
    max-width: 310px;
    max-height: 320px;
    padding-left: 3rem;
    border-radius: 15px;
  }
  .text__combos {
    max-width: 50%;
    color: #3f1e09;
    background-color: #f3e394;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  /* Nosotros */
  .section__title {
    color: #a45a19;
    padding: 1rem;
    font-family: mukta;
  }
  .section__text {
    color: #a45a19;
    max-width: 100%;
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    font-family: nunito;
  }
  .section__iframe {
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 5rem;
    width: 100%;
  }
  /* Elegirnos */
  .contenedor__elegirnos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .elegirnos__iconos {
    min-width: 50px;
    margin-bottom: 10px;
  }
  .div__elegirnos {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .elegirnos__text {
    max-width: 300px;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    font-size: 0.9em;
  }
  .elegirnos__text:hover {
    max-width: 300px;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    font-size: 0.9em;
    transform: scale(1.05);
    transition: 0.5s;
    transition-duration: 0.5s;
  }
  /* Felinos */
  .contenedor__felinos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .article__felinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    overflow: hidden;
    padding: 2rem;
  }
  .img__felinos {
    max-width: 100%;
    padding: 1rem;
  }
  .texto__felinos {
    color: #3f1e09;
    max-width: 400px;
    padding: 1rem;
    font-family: nunito;
    text-align: left;
    background-color: #ebcd54;
    border-radius: 15px;
  }
  .texto__felinos:hover {
    color: #f3e394;
    max-width: 400px;
    padding: 1rem;
    font-family: nunito;
    text-align: left;
    background-color: #3f1e09;
    border-radius: 15px;
    transform: scale(1.05);
    transition: 0.5s;
    transition-duration: 0.5s;
  }
  /* Productos */
  .contenedor__productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .titulo__seccion {
    text-align: center;
  }
  .div__productos {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    max-width: 350px;
    padding-left: 70px;
  }
  .images__productos {
    max-width: 300px;
    max-height: 300px;
    padding: 1rem;
  }
  .text__productos {
    max-width: 100%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .text__productos:hover {
    max-width: 100%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transform: scale(1.05);
    transition: 0.5s;
    transition-duration: 0.5s;
  }
  /* Footer */
  footer {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    max-height: 280px;
  }
  .contenedor__footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f2cc;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
    padding: 25px;
  }
  .contenido__contacto {
    text-align: left;
  }
  footer p {
    color: gray;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    font-size: 0.9rem;
  }
  footer h3 {
    max-width: 200px;
    margin: 0 auto;
    font-family: Jost;
    color: #a45a19;
    font-size: 1.2rem;
    padding-bottom: 10px;
  }
  .logos__redes {
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .logos__redes:hover {
    transform: scale(1.3);
    transition: 0.5s;
    transition-duration: 0.5s;
  }
}
@media screen and (min-width: 1231px) and (max-width: 1631px) {
  ul, li {
    font-family: Kanit;
    list-style: none;
  }
  a {
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 10px;
    color: #3f1e09;
  }
  p {
    font-family: Kanit;
  }
  h1 {
    font-family: Nova Square;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 15px;
    color: #fdfbed;
  }
  h2 {
    font-family: mukta;
  }
  h3 {
    font-family: Jost;
  }
  .logo__empresa {
    max-width: 200px;
  }
  /* Header */
  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 150px;
  }
  header nav ul {
    display: flex;
    gap: 1rem;
  }
  .link__header:hover {
    transform: scale(1.1);
    transition: 0.5s;
    transition-duration: 0.5s;
    background-color: #ebcd54;
    border-radius: 20px;
  }
  /* Inicio */
  .combos__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 26px;
  }
  .combo__semanal {
    display: grid;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
  }
  .combo__semanal:hover {
    display: grid;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    transform: scale(1.02);
    transition: 0.5s;
    transition-duration: 0.5s;
  }
  .img__combos {
    max-width: 370px;
    max-height: 250px;
    padding: 1rem;
  }
  .text__combos {
    max-width: 50%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .text__combos:hover {
    max-width: 70%;
    max-height: 70%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transition: 0.05s;
    transition-duration: 0.5s;
  }
  /* Nosotros */
  .section__title {
    color: #a45a19;
    padding: 1rem;
    font-family: mukta;
  }
  .section__text {
    color: #a45a19;
    max-width: 500px;
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    font-family: nunito;
  }
  .section__iframe {
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 90%;
  }
  .nosotros__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .quienes__somos, .donde__encontrarnos {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  /* Elegirnos */
  .contenedor__elegirnos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .elegirnos__iconos {
    min-width: 50px;
    margin-bottom: 10px;
  }
  .div__elegirnos {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .elegirnos__text {
    max-width: 300px;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .elegirnos__text:hover {
    max-width: 300px;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transform: scale(1.05);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Felinos */
  .contenedor__felinos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .article__felinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    overflow: hidden;
  }
  .texto__felinos {
    max-width: 100%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .texto__felinos:hover {
    max-width: 100%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  .img__felinos {
    max-height: 250px;
    padding: 1rem;
  }
  /* Productos */
  .contenedor__productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .titulo__seccion {
    text-align: center;
  }
  .div__productos {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    max-width: 350px;
    padding-left: 20px;
  }
  .images__productos {
    max-width: 380px;
    max-height: 250px;
    padding: 1rem;
  }
  .text__productos {
    max-width: 100%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 5px;
  }
  .text__productos:hover {
    max-width: 100%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 5px;
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Footer */
  footer {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    max-height: 280px;
  }
  .contenedor__footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f2cc;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
    padding: 25px;
  }
  .contenido__contacto {
    text-align: left;
  }
  footer p {
    color: gray;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    font-size: 1.1rem;
  }
  footer h3 {
    max-width: 200px;
    margin: 0 auto;
    font-family: Jost;
    color: #a45a19;
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  .logos__redes {
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .logos__redes:hover {
    transform: scale(1.3);
    transition: 0.5s;
    transition-duration: 0.5s;
  }
}
@media screen and (min-width: 1632px) and (max-width: 2140px) {
  ul, li {
    font-family: Kanit;
    list-style: none;
  }
  a {
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 10px;
    color: #3f1e09;
  }
  p {
    font-family: Kanit;
  }
  h1 {
    font-family: Nova Square;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 15px;
    color: #fdfbed;
  }
  h2 {
    font-family: mukta;
  }
  h3 {
    font-family: Jost;
  }
  .logo__empresa {
    max-width: 200px;
  }
  /* Header */
  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 150px;
  }
  header nav ul {
    display: flex;
    gap: 1rem;
  }
  .link__header:hover {
    transform: scale(1.1);
    transition: 0.5s;
    transition-duration: 0.5s;
    background-color: #ebcd54;
    border-radius: 20px;
  }
  /* Inicio */
  .combos__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 26px;
  }
  .combo__semanal {
    display: grid;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
  }
  .img__combos {
    max-width: 370px;
    max-height: 250px;
    padding: 1rem;
  }
  .text__combos {
    max-width: 50%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .text__combos:hover {
    max-width: 50%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Nosotros */
  .section__title {
    color: #a45a19;
    padding: 1rem;
    font-family: mukta;
  }
  .section__text {
    color: #a45a19;
    max-width: 500px;
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    font-family: nunito;
  }
  .section__iframe {
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 90%;
  }
  .nosotros__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .quienes__somos, .donde__encontrarnos {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  /* Elegirnos */
  .contenedor__elegirnos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .elegirnos__iconos {
    min-width: 50px;
    margin-bottom: 10px;
  }
  .div__elegirnos {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .elegirnos__text {
    max-width: 300px;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .elegirnos__text:hover {
    max-width: 300px;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: center;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transform: scale(1.05);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Felinos */
  .contenedor__felinos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 150px;
  }
  .article__felinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    overflow: hidden;
  }
  .texto__felinos {
    max-width: 100%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
  }
  .texto__felinos:hover {
    max-width: 100%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 10px;
    transform: scale(1.05);
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  .img__felinos {
    max-height: 250px;
    padding: 1rem;
  }
  /* Productos */
  .contenedor__productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 45px;
  }
  .titulo__seccion {
    text-align: center;
  }
  .div__productos {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    max-width: 350px;
    padding-left: 20px;
  }
  .images__productos {
    max-width: 380px;
    max-height: 250px;
    padding: 1rem;
  }
  .text__productos {
    max-width: 100%;
    color: #3f1e09;
    background-color: #ebcd54;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 5px;
  }
  .text__productos:hover {
    max-width: 100%;
    color: #f3e394;
    background-color: #3f1e09;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    text-align: left;
    box-sizing: border-box;
    margin: 5px;
    transition: 0.5s;
    transition-duration: 0.8s;
  }
  /* Footer */
  footer {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    max-height: 280px;
  }
  .contenedor__footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f2cc;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
    padding: 25px;
  }
  .contenido__contacto {
    text-align: left;
  }
  footer p {
    color: gray;
    padding: 8px 10px;
    border-radius: 10px;
    font-family: Kanit;
    font-size: 1.1rem;
  }
  footer h3 {
    max-width: 200px;
    margin: 0 auto;
    font-family: Jost;
    color: #a45a19;
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  .logos__redes {
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .logos__redes:hover {
    transform: scale(1.3);
    transition: 0.5s;
    transition-duration: 0.5s;
  }
}

/*# sourceMappingURL=style.css.map */
